<div class="container mx-auto p-8">
  <div class="flex items-center justify-between mt-8 mb-6">
    <h2 class="text-2xl font-semibold text-gray-700"><%= t("posts.title") %></h2>
    <%= link_to t("posts.new"), new_post_path, class: "bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition duration-200 ease-in-out" %>
  </div>

  <% if @posts.empty? %>
    <p class="text-gray-600 mb-4"><%= t("posts.no_posts") %></p>
  <% else %>
    <%= render "dashboards/posts/table", posts: @posts %>
  <% end %>
</div>
